.Attributes {
  &-Attribute {
    padding-bottom: 20px;

    &-Label {
      @include robotoCondensedFont;

      font-weight: bold;
      padding-bottom: 5px;
    }

    &-Options {
      display: flex;
    }

    &-Option {
      cursor: pointer;
      width: 63px;
      height: 45px;
      margin: 0 10px 0 0;

      border: 1px solid #1d1f22;

      display: flex;
      justify-content: center;
      align-items: center;

      &.Color {
        &.White {
          background-color: $white;
        }

        &.Black {
          background-color: $black;
        }

        &.Green {
          background-color: #44ff03;
        }

        &.Cyan {
          background-color: #03fff7;
        }

        &.Blue {
          background-color: #030bff;
          color: rgb(94, 206, 123);
        }

        &.active {
          border: 2px solid rgb(94, 206, 123);
          box-shadow: rgba(94, 206, 123, 0.4) 0px 5px,
            rgba(94, 206, 123, 0.3) 0px 10px, rgba(94, 206, 123, 0.2) 0px 15px,
            rgba(94, 206, 123, 0.1) 0px 20px, rgba(94, 206, 123, 0.05) 0px 25px;
        }
      }

      &.active {
        background-color: #1d1f22;
        p {
          color: $white;
        }
      }

      p {
        @include sourceSansProFont;

        color: #292929;

        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.05em;

        user-select: none;
        pointer-events: none;
      }
    }
  }
}
